/* --------------------------------- */
/* COUNTER (Quantity)                */
/* --------------------------------- */

.counter {
	display: flex;
	align-items: center;
	gap: 0.125rem;
	width: max-content;

	input[type="text"] {
		&.counter__value {
			width: 5rem;
			height: 2rem;
			border-radius: 0.25rem;
			background-color: var(--counter-field-bg);
			color: var(--counter-field-text);
			text-align: center;
			border: 0;
			padding: 0;
			margin: 0 0.25rem;
		}
	}

	.btn--counter {
		border-radius: 50%;
		width: 2rem;
		height: 2rem;
		padding: 0;
		color: var(--counter-field-text);

		&:disabled {
			background-color: transparent;
			border-color: transparent;
			filter: invert(66%) sepia(8%) saturate(16%) hue-rotate(343deg) brightness(95%)
				contrast(79%);
		}
	}
}
