/* --------------------------------- */
/* FORM                              */
/* --------------------------------- */

.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;

	&--inline {
		flex-direction: row;
		margin-bottom: 2rem;
	}

	&--search,
	&--copy {
		width: calc(100% + 3rem);
	}

	&--search {
		.btn--search {
			transform: translateX(-3rem);
		}
	}

	&--copy {
		.btn--copy {
			transform: translateX(-3rem);
		}
	}

	&--centered {
		width: min(90%, 30rem);
		margin: 0 auto;
		align-items: center;
	}

	&--two-columns {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
		margin-bottom: 3rem;
	}
}

/* INPUT FIELDS --------- */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"],
input[type="number"],
textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--neutral-600);
	padding: 0.5rem 0.75rem;
	color: var(--neutral-100);
	font-size: 1rem;

	@include bp(mobileplus) {
		font-size: 1.125rem;
	}

	&:focus {
		background-color: var(--neutral-700);
		border: none;
		border-radius: 0.25rem;
		outline: none;
	}
}

/* FORM GROUP (for Multi-column) --------- */

.form-group {
	width: 100%;
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;

	&:last-child {
		margin-bottom: 1rem;
	}

	.form-control {
		flex: 1;
	}

	&--creditcard {
		max-width: 40rem;
		margin-left: 0rem;
		padding: 1rem 1rem 0;
		background-color: var(--neutral-800);
		border-radius: 0.5rem;

		@include bp(mobileplus) {
			margin-left: 2rem;
			padding: 1.5rem 1rem 0;
		}

		.form-control {
			margin-bottom: 0;
		}
	}

	&--wallet {
		margin-left: 0rem;
		max-width: 40rem;
		padding: 0.5rem 1.5rem;
		background-color: var(--neutral-800);
		border-radius: 0.5rem;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 1rem;
		justify-content: flex-start;
		align-items: flex-start;

		@include bp(mobileplus) {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-left: 2rem;
			padding: 1.5rem 2.5rem;
		}

		img {
			display: block;
			transform: scale(0.8);

			@include bp(tabletplus) {
				transform: scale(1);
			}
		}

		h5 {
			margin-bottom: 0;
		}
	}
}

/* INPUT ELEMENT WRAPPER --------- */

.form-control {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: min(90%, 30rem);
	margin-bottom: 1rem;

	&:empty {
		display: none;

		@include bp(mobileplus) {
			display: flex;
		}
	}

	&__label {
		font-size: 1rem;
		color: var(--neutral-400);
		margin-left: 0.75rem;
	}

	&__input {
		&--centered {
			text-align: center;
		}

		&--auto {
			width: auto;
		}
	}

	&--inline {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		flex-direction: row;
		align-items: center;
		width: 100%;
	}

	&--no-label {
		.form-control__label {
			display: none;
		}
	}

	&--wide {
		width: 100%;
	}

	&__error {
		color: var(--error);
		font-size: 0.875rem;
		display: inline-flex;
		gap: 0.5rem;
		align-items: center;
		margin-bottom: 0;

		&::before {
			content: url(../images/icon_error.svg);
			width: 1rem;
			height: 1rem;
			display: inline-block;
		}
	}

	/* RADIO BUTTON --- */
	&__radio {
		border: 0;
		padding: 0.25rem 1rem 0.25rem 0.25rem;
		margin: 0 !important;

		&:focus-within {
			box-shadow: none;
		}

		&--inline {
			display: inline-flex;
			gap: 1rem;
		}

		&--list {
			display: flex;
			flex-direction: column;
			margin: 0 0 2rem 1rem;
		}
	}

	&--actions {
		margin: 2rem 0;

		&-top {
			margin: 0 0 3rem;
		}

		a {
			display: block;
			margin-top: 2rem;
			text-align: center;
		}
	}
}

/* ---------------------------- */
/* RADIO BUTTONS                */
/* ---------------------------- */

input[type="radio"] {
	display: none;

	& + label {
		cursor: pointer;
		user-select: none; /* prevents user selection of text --- */
		display: inline-flex;
		align-items: center;

		&::before {
			content: url(../images/radio_unchecked.svg);
			width: 1.25rem;
			aspect-ratio: 1;
			margin-right: 0.375rem;
		}
	}

	&:checked {
		& + label::before {
			content: url(../images/radio_checked.svg);
		}
	}
}

/* ---------------------------- */
/* SELECT                       */
/* ---------------------------- */

select {
	--select-bg: transparent;
	--select-text: var(--neutral-100);
	--select-border: var(--neutral-600);
	--select-focus-bg: var(--neutral-700);
	--select-disabled-bg: transparent;
	--select-disabled-color: var(--neutral-600);
	--select-disabled-border: rgba(255, 255, 255, 0.1);

	-webkit-appearance: none;
	display: block;
	font-family: inherit;
	font-size: 1rem;
	appearance: none;
	box-sizing: border-box;
	padding: 0.5rem 2rem 0.5rem 0.75rem;
	border-radius: 0.25rem;
	border: 1px solid transparent;
	border-bottom-color: var(--select-border);
	background: var(--select-bg)
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDhweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iNDhweCIgZmlsbD0iI0ZGRkZGRiI+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0xNi41OSA4LjU5TDEyIDEzLjE3IDcuNDEgOC41OSA2IDEwbDYgNiA2LTZ6Ii8+PC9zdmc+);
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 0.75rem;
	color: var(--select-text);
	cursor: pointer;
	transition: all 0.1s ease-in-out;

	&:hover,
	&:focus {
		background-color: var(--select-focus-bg);
	}

	&::ms-expand {
		display: none; /* hiding arrow for internet explorer --- */
	}

	&:disabled {
		cursor: not-allowed;
		background-color: var(--select-disabled-bg);
		color: var(--select-disabled-color);
		border: 1px solid var(--select-disabled-border);
	}
}
