/* --------------------------------- */
/* LISTS                             */
/* --------------------------------- */

.list {
	margin-bottom: 2rem;

	&--centered {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;
	}

	&--bulleted {
		padding-left: 2rem;
		list-style: disc;

		li {
			line-height: 1.6;
			margin-bottom: 0.5rem;
		}
	}

	&--data {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding-left: 1rem;

		@include bp(mobileplus) {
			flex-direction: row;
			gap: 4rem;
		}
	}
}

/* ORDERED LIST --------- */
/* For Terms of Use ----- */

ol {
	padding-left: 2rem;

	li {
		line-height: 1.4;
		margin-bottom: 0.5rem;
	}
}
